<div class="catalog-wrapper">
    <app-error-handler></app-error-handler>
    <header class="catalog__header">
        <div class="catalog__header-title">Каталог фильмов</div>
        <div class="catalog__header-search">
            <input
                type="text"
                placeholder="Поиск фильмов..."
                class="search-input"
                [(ngModel)]="seek"
            >
        </div>
    </header>

    @let currentFilms = films$ | async;
    @if (currentFilms) {
        <section class="catalog__content">
            @for (film of currentFilms | filterFilms: seek; track film.id) {
                <app-film-card
                    [film]="film"
                ></app-film-card>
            }
        </section>
    } @else {
        <h3>Поиск фильмов...</h3>
    }

    @if ( modalService.isVisible$ | async ) {
        <app-modal>
            <app-modal-card></app-modal-card>
        </app-modal>
    }
</div>