.modal {
  position: fixed;
  background: var(--white-color);
  padding: 15px;
  left: 50%;
  top: 450px;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 450px;
  border-radius: 10px;
  z-index: 1;
  opacity: 1;
  animation: fadeInModal 1s ease-out 1;
  &__wrapper {
    background: var(--black-color);
    opacity: 0.7;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    animation: fadeInWrap 1s ease-out 1;
  }
}

@keyframes fadeInWrap {
  0% { opacity: 0; }
  100% { opacity: 0.7; }
}

@keyframes fadeInModal {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@media (max-width: 719px) {
  .modal {
    width: 80%;
    height: auto;
    }
}

@media (max-width: 499px) {
  .modal {
    overflow: hidden;
    overflow-y: auto;
    top: 350px;
  }
}