@if (film) {
    <div
        class="film-card"
        [attr.data-id]="film.id"
        (click)="modalService.open($event)"
    >
        <div class="poster-image">
            <img [src]="film.posterUrl" [alt]="film.title" class="film-card__poster">
        </div>
        <div class="film-card__name">
            <div class="card-title">{{ film.title }}</div>
            <strong class="card-subtitle">{{ film.year }}</strong>
        </div>
    </div>
} @else {
    <h3>Данные о фильме не найдены...</h3>
}

