.error-message {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--red-color);
  border-radius: 10px;
  color: var(--white-color);
  position: absolute;
  width: 400px;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  height: 100px;
  right: 0;
  top: 100px;
  opacity: 0.5;
  animation: fadeIn 3s ease-out 1;
}

.error-button {
  color: var(--white-color);
  background-color: var(--red-color);
  opacity: 0.5;
  border: none;
  font-size: 36px;
  cursor: pointer;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 0.6; }
}

@media (max-width: 499px) {
  .error-message {
    width: 90%;
   }
}