.modal {
  &-content {
    display: grid;
    grid-template-columns: 270px 1fr;
    grid-gap: 10px;
    height: 100%;
  }
  &-poster {
    width: 270px;
    border-radius: 5px;
  }
  &-detail {
    position: relative;
    display: flex;
    flex-direction: column;
    &__title {
      margin-top: 5px;
      font-size: 28px;
      font-weight: 800;
      width: 90%;
    }
    &__year {
      font-size: 22px;
      line-height: 40px;
    }
    &__genres {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
      margin-top: 10px;
      margin-bottom: 20px;
      font-weight: 300;
    }
    &__description {
      font-weight: 400;
      font-size: 18px;
      text-align: justify;
      width: 90%;
    }
  }
  &-rating {
    position: absolute;
    background: var(--grey-color);
    bottom: 10px;
    right: 10px;
    border-radius: 5px;
    font-size: 28px;
    line-height: 20px;
    padding: 10px 25px;
    font-weight: 500;
  }
  &-close {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    border: none;
    background: none;
  }
  &-close:before, &-close:after {
    content: "";
    left: 0;
    position: absolute;
    width: 24px;
    height: 3px;
    background: var(--black-color);
  }
  &-close:before {
    transform: rotate(45deg);
  }
  &-close:after {
    transform: rotate(-45deg);
  }
}

.genre {
  background: var(--grey-color);
  border-radius: 5px;
  padding: 7px;
  line-height: 10px;
}

@media (max-width: 719px) {
  .modal {
    &-content {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: start;
      margin-bottom: 30px;
    }
    &-detail {
      &__title {
        font-size: 22px;
        width: 100%;
        text-align: center;
      }
      &__year {
        font-size: 18px;
        text-align: center;
      }
      &__genres {
        font-size: 14px;
      }
      &__description {
        font-size: 14px;
      }
    }
    &-poster {
      width: auto;
      height: 300px;
      border-radius: 5px;
    }
    &-close {
      top: -310px;
      right: 0;
    }
    &-rating {
      bottom: -30px;
      right: 0;
      border-radius: 5px;
      font-size: 18px;
      line-height: 10px;
      padding: 10px 20px;
    }
  }
}
