@use "fonts";

:root {
  --grey-color: #eee;
  --grey-dark: #333;
  --light-color: #fff;

}
body {
  background: var(--grey-color);
  color: var(--grey-dark);
  padding: 0;
  margin: 0;
  width: 100%;
}

.genre-tag {
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid var(--grey-dark);
  display: inline;
  font-size: 12px;
  font-weight: 700;
  margin-right: 4px;
}